body{
    background-image: url(images/bg.png);
}

.image{
	height: 100vh;
	opacity: 0.75;
}
.logo{
    margin-left: 600px;
    margin-top: 30px;
    position: absolute;
}
.form-control {
	background-color: transparent;
	border: 0px;
	font-family: 'BenchNine', sans-serif;
    font-size: 30px;
    color: rgb(255,255,255) !important;
}
.carousel-inner{
   /* border-bottom: 2px solid;
    border-bottom-color: burlywood;*/
}
.carousel-caption {
    bottom: 200px;
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
    margin-left: 15px;
}
.h5, h5 {

    font-size: 90px;
    font-family: 'Neucha', sans-serif;
}
.bg-light{
    border-bottom: 2px solid;
    border-bottom-color: burlywood;
}
.nv{
	margin-left: 600px;
    float: right;
    clear: left;
}
.lis{
	padding-right: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-family: 'BenchNine', sans-serif;
    font-size: 30px;
}
.wlm{
	margin-top: 150px;
	font-family: 'Neucha', sans-serif;
	font-size: 50px;
}
.btn-secondary {
    color: #fff;
    background-color: #297cbb;
    border-color: #6c757d;
    font-size: 20px;
    border-radius: 48%;
}
.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn1 {
    border: 1px solid black;
    color: brown;
}
hr{ 
  display: block;
  margin-bottom: 20px;
  margin-left: 550px;
  margin-right: 550px;
  border-style: inset;
  border-width: 3px;
  border-color: #297cbb;
} 
.wlm1{
    font-family: 'Lobster Two', cursive;
	align-content: center;
	font-size: 30px;
	margin-left: 60px;
    margin-top: 50px;
	margin-right: 40px;
    margin-bottom: 100px;
}
.ft{
    font-family: 'Neucha', sans-serif;
    background-color: #297cbb;
    color:rgb(255,255,255);
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px;
    margin-top: 80px;
}
.ft1{
    background-color: #297cbb;
    display: flex;
    color:rgb(255,255,255);
    margin-top: 0px;
    text-align:justify;
    padding-top: 20px;
    padding-bottom: 30px;
}
.ft1 .ft11{
    margin-left: 480px;
    border-right: 1px solid white;
    padding-right: 20px;
}
.ft1 .ft12{
    margin-left: 50px;
}








.explore{
    display:flex;
    height: 100vh;
}
.exp{
    height: 300px;
    width: 500px;
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 50px;
}
.exp1{
    position: relative;
    height: 300px;
    width: 500px;
    background-color: rgba(0,0,0,0.5);
    margin-top: -300px;
}
.exp11{
    position: relative;
    margin-top: -230px;
    margin-left: 30px; 
    color:#fff;
    font-family: 'Neucha', sans-serif;
}
.exp1:hover{
    background-color: rgba(255,255,255,0.5);
}
#Experiences{
    padding-left: 30px;
    padding-right: 30px;
}
.place{
    height: 100vh;
}
.place1{
    display: flex;
    align-content: space-between;
    width: 100%;
    height: 700px;  
}
.place1 :last-child{
    margin-right: 30px;
}
.place11{
    display: inline-block;
    overflow: hidden;
    flex: 1;   
    justify-content: space-between;
    height: 600px;
    width: 450px;
    padding: 30px;
}
.place111{
    position: relative;
    margin-top: -50px;
    color:#fff;
    font-family: 'Neucha', sans-serif;
    text-align: center;
}












.head{
    color: crimson;
}
.expe{
    margin-top: 100px;
    font-family: 'Neucha', sans-serif;
}
.expe11{
      margin-top: 20px;
      display:flex;
}
.expe1{
    width: 400px;
    height: 250px;
}
.expe2{
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    padding: 20px;
}










.socail{
    background-color:crimson;
}
a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
	margin: 0;
	padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    color: #000;
	background-color: #fff;
	width: 50px;
    height: 40px;
    padding-top: 12px;
	border-radius: 30px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
  transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
  	transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
}

.socialbtns .fa:hover {
	transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}





